.body-style {
  background-image: url("https://wallpaperaccess.com/full/1393565.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.services {
  opacity: 0.8;
  border: 3px solid black;
  background-color: white;
  border-radius: 12px;
  max-width: 69%;
  margin: 0px auto;
  padding: 46px;
}

.text-styling {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
}

.text-styling:hover {
  text-decoration: none;
}
